html{
    position: relative;
    height: 100%;
}
#bodyBootstrapOverrides {
    position: relative;
    background-color: #e4e3e3;
    /* margin: 0 0 100px; */
    /* bottom = footer height */
    padding-bottom: 100px;
    min-height: 100%;
}
#bodyBootstrapOverrides .jumbotron{
    background-color: #f7f9fb;

}
#bodyBootstrapOverrides .btn{
    background-color: #393e46;
    color: white;
    border-color:  #393e46;
}
#myNavbar .nav-link{
    color: black;
    font-size: large;
}
#bodyBootstrapOverrides .badge-light{
    /* background-color: #393e46; */
    color: #393e46;
    font-size: larger;
}
#bodyBootstrapOverrides .badge-secondary{
    /* background-color: #393e46; */
    color: white;
    font-size: small;
}

#bodyBootstrapOverrides table th{
    background-color: #eeeeee;
    padding: 10px;
    color: black;
}
#myNavbar a{
    padding: 10px;
    margin: 10px;
    border: 20px;
    border-radius: 5px;
    border-color: black;
}

#myNavbar {
    background-image: linear-gradient(15deg, #f7f9fb 0%, #393e46 100%);
}
#myFooter {
    background-image: linear-gradient(15deg, #f7f9fb 0%, #393e46 100%);
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
}
/* color the dropdown nav bar menu */
/* #navbarNavDropdown {
    color: #76ead7;
} */
#btn-teachers {
    padding-bottom: 0px;
}
/* not worrking */

/* .custumTable{
    border: 10px black;
} */
#bodyBootstrapOverrides .auth-page {
    margin-top: 4vw;
    margin-bottom: 4vw;
}
#bodyBootstrapOverrides form .floatLeftNav{
    float: left;
}
#studentRegisterForm {
    display: none;
}
#teacherRegisterForm {
    display: none;
}
#headerAuthPage {
    background-color: #393e46;
    color: white;
}
#bodyBootstrapOverrides img{
    /* width: ; */
    height: fit-content;
}